/* цей файл дозволить виокристовувати модулі в стилях */
.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  /* +++++++++++++ */
  .myсls
  {
    color: rgb(123, 12, 129);
  }